nav ul a,
nav .brand-logo {
  color: #444;
}

.dropdown-content {
  margin-top: 30px;
}

#logo1 {
  width: 60px;
  height: 60px;
  margin-top: 3px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    
   
  /*video*/
  * {
    margin: 0; padding: 0;
  }
  
  .video {
    height: 400px;
    background: #edeae8;
    position: relative;
  }
   
  video {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  }
  
  main {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
  }
